.board-item {
  display: inline-block;
  height: 100px;
  border-radius: 5px;
  background-color: #5e96b3;
  margin: auto 5px 20px 5px;
  font-weight: 700;
  font-size: 1.5em;
}

.board-item:hover {
  background-color: #4d97c1;
}

#new-board-item {
  background-color: #bbb;
  font-size: 1.25em;
  text-align: center;
  line-height: 100px;
}

#new-board-item:hover {
  background-color: #aaa;
}

.x {
  margin-top: 5px;
}

#new-board-form {
  font-size: 1em;
  background-color: white;
  height: 200px;
  color: #555;

  .text-center {
    text-align: center;
  }
}