#navbar {
  background: rgba(54, 25, 25, .5);
}

#logo {
  font-family: 'Lobster', cursive;
  font-size: 2em;
}

.nav>li>a>img {
    // padding-top: 10px;
    // padding-bottom: 10px;
    width: 30px;
    height: 30px;
}