#navbar {
  background: rgba(255, 255, 255, .5);
}

.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
}

#logo {
  font-family: 'Lobster', cursive;
  font-size: 2em;

  img {
    height: 40px;
    display: inline-block;
    margin-top: -5px;
  }
}

.nav>li>a>img {
    // padding-top: 10px;
    // padding-bottom: 10px;
    width: 30px;
    height: 30px;
}