<div class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" editable-text="card.title" onbeforesave="updateCard('title', $data)">{{ card.title || 'empty' }}</h4>
        <p>In list <em>{{ list.title }}</em></p>
        <input type="checkbox" ng-model="card.completed" ng-change="updateCard('completed', card.completed)"> Completed
      </div>
      <div class="modal-body">
        <p><strong>Description</strong></p>
        <p editable-text="card.description" onbeforesave="updateCard('description', $data)">{{ card.description || 'empty' }}</p>
        <button class="btn btn-default" ng-click="deleteCard()">Delete Card</button>
      </div>
    </div>
  </div>
</div>